<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GenMedix{% endblock %}</title> <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/OwlCarousel-2/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/iconfont/tabler-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.css') }}?v=1.1">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header position-fixed w-100">
            <div class="container">
                <nav class="navbar navbar-expand-xl py-0">
                    <div class="logo">
                        <a class="navbar-brand py-0 me-0" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='assets/images/image.png') }}" alt="DoseRight AI Logo" style=" width: 150px;"></a>
                    </div>
                    <a class="d-inline-block d-lg-block d-xl-none d-xxl-none  nav-toggler text-decoration-none"  data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
                        <i class="ti ti-menu-2 text-warning"></i>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">                       
                        <ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link text-capitalize" href="{{ url_for('home') }}">Home</a>
    </li>
    {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('dashboard') }}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('account') }}">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('register') }}">Register</a>
        </li>
    {% endif %}
</ul>
                        
                        </div>
                </nav>
            </div>

            <div class="offcanvas offcanvas-start"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <div class="logo">
                        <a class="navbar-brand py-0 me-0" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='assets/images/Creato-logo.svg') }}" alt=""></a>
                    </div> 
                    <button type="button" class="btn-close text-reset  ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ti ti-x text-warning"></i></button>
                </div>
                <div class="offcanvas-body pt-0">
                    <ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link text-capitalize" href="{{ url_for('home') }}">Home</a>
    </li>
    {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('dashboard') }}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('account') }}">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-capitalize" href="{{ url_for('register') }}">Register</a>
        </li>
    {% endif %}
</ul>
                    
                    </div>
            </div>
    </header>
    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-logo-col">
                        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='assets/images/image.png') }}" alt="Footer Logo"></a>
                        <p class="blue-light mb-0 fs-7 fw-500">Leveraging pharmacogenomics and machine learning to provide safer, more effective dosage recommendations for clinicians.</p>
                        <div class="callus text-white fw-500 fs-7">
                            Salt Lake,Sector V - Kolkata
                            <div class="blue-light">Call us: <a href="#" class="text-warning fw-500 fs-7 text-decoration-none">+91 8116253439</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <h5 class="text-white">Team Mmember</h5>
                    <ul class="list-unstyled mb-0 pl-0">
                        <li><a href="#">Aniruddha Sarkar</a></li>
                        <li><a href="#">Kandarpa Saha</a></li>
                        <li><a href="#">Adrita Paul</a></li>
                        <li><a href="#">Aniket Kumar</a></li>
                    </ul>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <h5 class="text-white">Mentor</h5>
                    <ul class="list-unstyled mb-0 pl-0">
                        <li><a href="#" >Dr.Biswajit Ghosh</a></li>
                    </ul>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="subscribe">
                        <h5 class="text-white">Subscribe</h5>
                        <p class="blue-light fw-500">Subscribe to get the latest news form us
                        </p>
                        <div class="input-group">
                            <input type="email" class="form-control br-15" placeholder="Enter email address" aria-label="Enter email address" aria-describedby="button-addon2">
                            <button class="btn btn-warning btn-hover-secondery ms-xxl-2 ms-xl-2 ls-lg-0 ms-md-0 ms-sm-0 ms-0"  type="button" id="button-addon2">Register</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrights text-center blue-light  fw-500">@<span id="autodate">2023</span> - All Rights Reserved by <a href="httpsis://adminmart.com/" class="blue-light text-decoration-none">Team GenMedix</a> Dsitributed By <a href="https://themewagon.com" class="blue-light text-decoration-none">Techno Main Salt Lake</a></div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/OwlCarousel-2/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/custom.js') }}"></script>
    <div class="beta-banner-bottom">
        <i class="ti ti-alert-triangle"></i>
        <strong>BETA VERSION:</strong> This application is for demonstration and testing purposes only. It is not intended for clinical use.
    </div>

</body>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 800, // Animation duration in milliseconds
        once: true    // Only animate once
    });
</script>
</html>